#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 15fr;
}

nav {
  padding: 1rem;
}

nav h1 {
  font-size: 2rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.sidebar {
  background-color: lightblue;
}

.display {
  background-color: lightgray;
}
